################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs (2)
/UrlTestApi/bin/Debug/net8.0
/UrlTestApi/obj
